openapi: '3.0.3'
info:
  title: GC AI External API
  version: 1.0.0
  description: |-
    The GC AI External API allows programmatic access to GC AI's chat capabilities. It's designed for integration with workflow automation tools like Zapier, Make, n8n, or custom applications.

    ## Authentication

    All API requests must include an API key in the `Authorization` header:

    ```
    Authorization: gcai_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    ```

    API keys can be created in the GC AI app under **Settings → API**.

    ## Multi-turn Conversations

    Conversations can span multiple turns: pass the `chat_id` returned by a completion back on your next request to continue the same chat. See [Multi-turn Conversations](/api-reference/concepts/multi-turn).

    ## Current Limitations

    The following is not yet available via API:

    - **Interactive clarification**: the model cannot pause to ask the caller a follow-up question; the `askUserQuestions` tool is disabled on the API surface in beta

    ## Usage

    Usage is tracked and viewable in the GC AI app under **Settings → API → View Usage**.

    ## Support

    For API support, contact [support@gc.ai](mailto:support@gc.ai) or reach out to your account representative.
  contact:
    email: support@gc.ai
servers:
  - url: https://app.gc.ai/api/external/v1
    description: Production server
tags:
  - name: Chat
    description: AI chat completion endpoints
  - name: Files
    description: File upload and management endpoints
  - name: Folders
    description: Folder management endpoints
  - name: Playbooks
    description: Playbook review endpoints
  - name: Profiles
    description: Personal and company profile endpoints
  - name: Projects
    description: Project management endpoints
  - name: Skills
    description: Skill library management endpoints
  - name: Utility
    description: Health check and connectivity endpoints
  - name: Usage
    description: Usage and credit/billing reporting endpoints
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: |-
        API key for authentication. Format: `gcai_xxxxxxxxx`

        Create API keys in the GC AI app under Settings → API.
  schemas:
    ChatCompletionResponse:
      type: object
      properties:
        job_id:
          type: string
          format: uuid
          description: Async job identifier
        kind:
          type: string
          enum:
            - chat/completions
          description: Stable job kind for this endpoint
        status:
          type: string
          enum:
            - pending
            - running
            - succeeded
            - failed
            - canceled
          description: Current job status
        result:
          $ref: '#/components/schemas/ChatCompletionResult'
        error:
          type: object
          nullable: true
          properties:
            code:
              type: string
            message:
              type: string
          required:
            - code
            - message
          description: Failure payload when the job has failed
        created_at:
          type: string
          description: ISO 8601 creation timestamp
        completed_at:
          type: string
          nullable: true
          description: ISO 8601 completion timestamp, or null when not terminal
      required:
        - job_id
        - kind
        - status
        - result
        - error
        - created_at
        - completed_at
    ChatCompletionResult:
      type: object
      nullable: true
      properties:
        result:
          type: string
          description: The AI-generated response text
          example: |-
            When reviewing a software license agreement, key terms to examine include:

            1. **License Grant** - Understand the scope of rights granted...
        chat_id:
          type: string
          format: uuid
          description: The chat ID. API chats stay out of chat history until you materialize them. Pass this ID to `POST /chat/{id}/materialize` to surface the chat. See [Chat Visibility](/api-reference/concepts/chat-visibility).
        documents:
          type: array
          items:
            $ref: '#/components/schemas/ApiDocument'
          description: Documents produced during this completion — either edits of an attached file (the document editing tool) or newly generated files (the document or slide generation tools). Present only when at least one document was produced. Each entry exposes a new `file_id` and a signed download URL; edits also reference the preserved original via `original_file_id`.
        emails:
          type: array
          items:
            $ref: '#/components/schemas/ApiEmail'
          description: Email drafts produced during this completion by the email drafting tool. Present only when at least one email was drafted. Each entry is a structured draft (`to`, `subject`, `body`, …) ready to send via your own mail client or provider.
        diagrams:
          type: array
          items:
            $ref: '#/components/schemas/ApiDiagram'
          description: Diagrams produced during this completion by the diagram tool. Present only when at least one diagram was produced. Each entry exposes validated Mermaid source (`mermaid`) you can render with any Mermaid-compatible renderer.
      required:
        - result
        - chat_id
      description: Completion payload when the job has succeeded
    ApiDocument:
      type: object
      properties:
        file_id:
          type: string
          format: uuid
          description: The new uploaded file ID for the produced document. Use it with `POST /chat/completions` `file_ids` to apply further edits to this version. Download via `signed_url` for the finished file.
        original_file_id:
          type: string
          format: uuid
          description: The `file_id` the changes were applied to (edits only). The original file is preserved unchanged. Omitted for newly generated documents.
        filename:
          type: string
          description: Filename of the produced document (edits are prefixed with `edited_`).
        original_filename:
          type: string
          description: Filename of the source file the changes were applied to (edits only). Omitted for newly generated documents.
        signed_url:
          type: string
          format: uri
          description: Time-limited download URL for the produced document. Valid for 7 days from job completion. Download promptly — the URL is not re-minted, so re-fetching the job after expiry returns the same expired URL.
      required:
        - file_id
        - filename
        - signed_url
    ApiEmail:
      type: object
      properties:
        to:
          type: string
          description: Recipient email address(es), comma-separated. May be an empty string when the prompt named no recipient — fill it in before sending.
        cc:
          type: string
          description: CC recipient email address(es), comma-separated.
        bcc:
          type: string
          description: BCC recipient email address(es), comma-separated.
        subject:
          type: string
          description: Email subject line. Always present — inferred from context when the prompt did not specify one.
        body:
          type: string
          description: Email body in markdown.
        plaintext_body:
          type: string
          description: Email body with markdown stripped, for plain-text clients.
      required:
        - to
        - subject
        - body
        - plaintext_body
    ApiDiagram:
      type: object
      properties:
        title:
          type: string
          description: A short descriptive title for the diagram.
        diagram_type:
          type: string
          description: The semantic type of diagram, e.g. orgChart, dealStructure, workflow, timeline, sequence, entityRelationship, or general.
        mermaid:
          type: string
          description: The diagram source as validated Mermaid syntax. Render it with any Mermaid-compatible renderer.
      required:
        - title
        - diagram_type
        - mermaid
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
        code:
          type: string
          description: Machine-readable error code present on some errors (e.g. `RATE_LIMITED`, `INSUFFICIENT_CREDITS`, `TRIAL_NOT_STARTED`, `BILLING_NOT_CONFIGURED`). Branch on this rather than the human-readable `error` string.
        message:
          type: string
          description: Additional error details
        details:
          type: object
          additionalProperties:
            nullable: true
          description: Validation error details (for 400 errors)
      required:
        - error
    ChatCompletionRequest:
      type: object
      properties:
        message:
          type: string
          minLength: 1
          description: The user's message or prompt
          example: What are the key terms to look for in a software license agreement?
        file_ids:
          type: array
          items:
            type: string
            format: uuid
          description: Optional uploaded file IDs to attach as context for this completion. Upload files first via `POST /files`.
          example:
            - 123e4567-e89b-12d3-a456-426614174000
        playbook_ids:
          type: array
          items:
            type: string
            format: uuid
          maxItems: 20
          description: |-
            Optional playbook IDs to ground the completion in (up to 20). The model uses each playbook's checks and guidance to structure its review of the attached files. Discover playbooks via `GET /playbooks`.

            Org-scoped keys can use org-visible and official playbooks.
          example:
            - f9e8d7c6-b5a4-3210-fedc-ba0987654321
        playbook_id:
          type: string
          description: Deprecated and no longer accepted. Use `playbook_ids` (an array) instead. Requests that include this field are rejected with a 400 so the playbook is never silently dropped.
          deprecated: true
        skill_ids:
          type: array
          items:
            type: string
            format: uuid
          description: |-
            Optional skill IDs to run on the first turn. Each skill's instructions are injected as context for this completion. Discover skills via `GET /skills`.

            Only valid when starting a new chat — omit them when continuing with `chat_id`.
          example:
            - b2c3d4e5-f6a7-4890-bcde-f12345678901
        chat_id:
          type: string
          format: uuid
          description: |-
            Optional chat ID to continue an existing conversation, from the `chat_id` of a prior completion. Omit to start a new chat.

            Conversation state is held server-side, so send only your new `message` (plus any new `file_ids`) — do **not** re-send prior turns or previously returned documents/emails/diagrams. Only one turn may be in flight per chat at a time. See [Multi-turn Conversations](/api-reference/concepts/multi-turn).
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
      required:
        - message
    MaterializeChatResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The chat ID
        title:
          type: string
          nullable: true
          description: The chat title, if generated
        chat_url:
          type: string
          format: uri
          description: Deep link to open the chat in the GC AI web UI
        materialized_at:
          type: string
          format: date-time
          description: When the chat was materialized
      required:
        - id
        - title
        - chat_url
        - materialized_at
    ChatSearchResponse:
      type: object
      properties:
        chats:
          type: array
          items:
            $ref: '#/components/schemas/ChatSearchResult'
          description: Chats matching the query. Title-substring matches first, then semantic (vector) matches in relevance order, de-duplicated and capped at `limit`.
      required:
        - chats
    ChatSearchResult:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique chat identifier
        title:
          type: string
          nullable: true
          description: Chat title, or null if untitled
        summary:
          type: string
          nullable: true
          description: AI-generated summary of the chat, if any
        updated_at:
          type: string
          description: ISO 8601 last-update timestamp
      required:
        - id
        - title
        - summary
        - updated_at
    FileResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique file identifier
        name:
          type: string
          description: Original filename
        size:
          type: number
          description: File size in bytes
        content_type:
          type: string
          description: MIME type of the file
          example: application/pdf
        status:
          type: string
          enum:
            - extracting
            - embedding
            - ready
            - failed
          description: Current processing status of the file
        created_at:
          type: string
          description: ISO 8601 creation timestamp
        folder_id:
          type: string
          nullable: true
          format: uuid
          description: Folder the file belongs to
        extraction_error:
          type: string
          description: Error message if extraction failed
        project_id:
          type: string
          format: uuid
          description: Project the file is linked to, if uploaded with project_id
        warning:
          type: string
          description: Present when the file was uploaded successfully but a secondary operation (e.g. project linking) failed
      required:
        - id
        - name
        - size
        - content_type
        - status
        - created_at
    FileUploadRequest:
      type: object
      properties:
        file:
          type: string
          format: binary
          description: The file to upload
        folder_id:
          type: string
          format: uuid
          description: Target folder ID. Defaults to the user's "My Files" folder. Mutually exclusive with `project_id` and `scope`.
        project_id:
          type: string
          format: uuid
          description: Upload the file into a project. The file is placed in the project's upload folder and linked to the project. Mutually exclusive with `folder_id` and `scope`.
        scope:
          type: string
          enum:
            - my-files
            - organization
          description: Upload to the root of a meta-collection ("my-files" or "organization"). Mutually exclusive with `folder_id` and `project_id`. `shared-with-me` is not valid for upload.
          example: my-files
      required:
        - file
    FileSearchResponse:
      type: object
      properties:
        files:
          type: array
          items:
            $ref: '#/components/schemas/SearchedFile'
          description: Files matching the query, ranked by hybrid (vector + keyword) relevance. At most 100 results.
      required:
        - files
    SearchedFile:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique file identifier
        name:
          type: string
          description: Original filename
        size:
          type: number
          description: File size in bytes
        content_type:
          type: string
          description: MIME type of the file
        status:
          type: string
          enum:
            - extracting
            - embedding
            - ready
            - failed
          description: Current processing status
        folder_id:
          type: string
          nullable: true
          format: uuid
          description: Parent folder ID, or null if the file is at the root
        created_at:
          type: string
          description: ISO 8601 creation timestamp
      required:
        - id
        - name
        - size
        - content_type
        - status
        - folder_id
        - created_at
    UpdateFileRequest:
      type: object
      properties:
        folder_id:
          type: string
          nullable: true
          format: uuid
          description: Target folder ID to move the file to. Pass null to move to the root.
      required:
        - folder_id
    InitiateUploadResponse:
      type: object
      properties:
        upload_id:
          type: string
          format: uuid
          description: Opaque identifier for this upload session. Use it in the part and complete requests.
        part_size:
          type: number
          description: Recommended part size in bytes. Split the file into parts no larger than this for reliable transfers.
        max_parts:
          type: number
          description: Maximum number of parts allowed for this session. Part numbers run from 1 to this value.
        expires_at:
          type: string
          description: ISO 8601 timestamp after which the session expires. Upload all parts and call complete before this.
      required:
        - upload_id
        - part_size
        - max_parts
        - expires_at
    InitiateUploadRequest:
      type: object
      properties:
        file_name:
          type: string
          minLength: 1
          maxLength: 255
          description: Original filename, including extension.
          example: msa-2026.pdf
        content_type:
          type: string
          description: MIME type of the file. When omitted, it is derived from the filename extension.
          example: application/pdf
        size:
          type: integer
          minimum: 0
          exclusiveMinimum: true
          description: Total size of the complete file in bytes. Validated up front against the file-size limit so oversized uploads fail before any parts are sent.
          example: 12582912
        folder_id:
          type: string
          format: uuid
          description: Target folder ID. Defaults to the user's "My Files" folder. Mutually exclusive with `project_id` and `scope`.
        project_id:
          type: string
          format: uuid
          description: Upload the file into a project. The file is placed in the project's upload folder and linked to the project. Mutually exclusive with `folder_id` and `scope`.
        scope:
          type: string
          enum:
            - my-files
            - organization
          description: Upload to the root of a meta-collection ("my-files" or "organization"). Mutually exclusive with `folder_id` and `project_id`. User-scoped keys only.
          example: my-files
      required:
        - file_name
        - size
    UploadPartResponse:
      type: object
      properties:
        upload_id:
          type: string
          format: uuid
        part_number:
          type: number
          description: The part just stored.
        size:
          type: number
          description: Bytes received for this part.
      required:
        - upload_id
        - part_number
        - size
    CompleteUploadRequest:
      type: object
      properties:
        part_count:
          type: integer
          minimum: 1
          maximum: 32
          description: The total number of parts you uploaded. Parts must be a contiguous run from 1 to this value; completion fails if any are missing.
          example: 3
      required:
        - part_count
    AbortUploadResponse:
      type: object
      properties:
        upload_id:
          type: string
          format: uuid
        aborted:
          type: boolean
          enum:
            - true
      required:
        - upload_id
        - aborted
    FolderListResponse:
      type: object
      properties:
        folders:
          type: array
          items:
            $ref: '#/components/schemas/Folder'
        pagination:
          $ref: '#/components/schemas/Pagination'
      required:
        - folders
        - pagination
    Folder:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique folder identifier
        name:
          type: string
          description: Folder name
        description:
          type: string
          nullable: true
          description: Folder description, or null if unset
        path:
          type: string
          description: Path through ancestors visible to the requester. Inaccessible ancestors are skipped, so this may not reflect absolute depth. Use `parent_folder_id` to traverse hierarchy.
          example: /My Files/Contracts
        parent_folder_id:
          type: string
          nullable: true
          format: uuid
          description: Parent folder ID, or null for root
        folder_type:
          type: string
          description: Folder type (custom, my-files, etc.)
        created_at:
          type: string
          description: ISO 8601 creation timestamp
      required:
        - id
        - name
        - description
        - path
        - parent_folder_id
        - folder_type
        - created_at
    Pagination:
      type: object
      properties:
        limit:
          type: number
          description: Page size
        offset:
          type: number
          description: Current offset
        has_more:
          type: boolean
          description: Whether more results exist
      required:
        - limit
        - offset
        - has_more
    CreateFolderRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 2
          description: Folder name (min 2 characters)
          example: Q4 Contracts
        description:
          type: string
          description: Optional description
        parent_folder_id:
          type: string
          format: uuid
          description: Parent folder ID. Mutually exclusive with `scope`. If both are omitted, creates a top-level folder.
        scope:
          type: string
          enum:
            - my-files
            - organization
          description: Create the folder at the root of a meta-collection. Mutually exclusive with `parent_folder_id`. `shared-with-me` is not valid for create.
          example: my-files
      required:
        - name
    UpdateFolderRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 2
          description: New folder name (minimum 2 characters)
        description:
          type: string
          description: New folder description
        parent_folder_id:
          type: string
          format: uuid
          description: Target parent folder ID. The destination must not be the folder itself or one of its descendants.
        is_access_controlled:
          type: boolean
          description: Whether the folder requires explicit access grants
    FolderChildrenResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/FolderChild'
          description: Direct children of the folder. Subfolders first (alphabetical), then files (alphabetical).
      required:
        - items
    FolderChild:
      oneOf:
        - allOf:
            - $ref: '#/components/schemas/Folder'
            - type: object
              properties:
                type:
                  type: string
                  enum:
                    - folder
              required:
                - type
        - allOf:
            - $ref: '#/components/schemas/File'
            - type: object
              properties:
                type:
                  type: string
                  enum:
                    - file
              required:
                - type
    File:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique file identifier
        name:
          type: string
          description: Original filename
        size:
          type: number
          description: File size in bytes
        content_type:
          type: string
          description: MIME type of the file
        status:
          type: string
          enum:
            - extracting
            - embedding
            - ready
            - failed
          description: Current processing status
        created_at:
          type: string
          description: ISO 8601 creation timestamp
      required:
        - id
        - name
        - size
        - content_type
        - status
        - created_at
    ProjectListResponse:
      type: object
      properties:
        projects:
          type: array
          items:
            $ref: '#/components/schemas/ProjectResponse'
        pagination:
          $ref: '#/components/schemas/Pagination'
      required:
        - projects
        - pagination
    ProjectResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique project identifier
        name:
          type: string
          description: Project name
        description:
          type: string
          nullable: true
          description: Project description, or null if unset
        custom_instructions:
          type: string
          nullable: true
          description: Custom instructions injected into chats opened in this project
        is_access_controlled:
          type: boolean
          description: When true, only the creator and explicitly granted users can see the project. When false, any member of the organization can see it.
        my_access_level:
          type: string
          nullable: true
          enum:
            - read
            - write
            - admin
            - null
          description: "Caller's access level on this project: `admin` (creator or explicitly granted admin), `write`, `read`, or `null` if the caller has no recorded grant. `null` is also returned for org-scoped keys, which carry no user identity."
        created_at:
          type: string
          description: ISO 8601 creation timestamp
        updated_at:
          type: string
          description: ISO 8601 last-update timestamp
      required:
        - id
        - name
        - description
        - custom_instructions
        - is_access_controlled
        - my_access_level
        - created_at
        - updated_at
    CreateProjectRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          description: Project name (required, non-empty after trim)
          example: 'Vendor: Acme MSA'
        description:
          type: string
          nullable: true
          description: Optional project description
        custom_instructions:
          type: string
          nullable: true
          description: Optional custom instructions for chats in this project
        is_access_controlled:
          type: boolean
          description: When true (default), the project is visible only to the creator and explicitly granted users. When false, any member of the organization can see it.
      required:
        - name
    UpdateProjectRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          description: New project name (non-empty after trim)
          example: 'Vendor: Acme MSA (renamed)'
        description:
          type: string
          nullable: true
          description: New project description, or null to clear it
        custom_instructions:
          type: string
          nullable: true
          description: New custom instructions for chats in this project, or null to clear them
    AttachFileRequest:
      type: object
      properties:
        file_id:
          type: string
          format: uuid
          description: ID of an already-uploaded file to attach to the project
      required:
        - file_id
    ProjectFileListResponse:
      type: object
      properties:
        files:
          type: array
          items:
            $ref: '#/components/schemas/ProjectFile'
        pagination:
          $ref: '#/components/schemas/Pagination'
      required:
        - files
        - pagination
    ProjectFile:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique file identifier
        name:
          type: string
          description: Original filename
        size:
          type: number
          description: File size in bytes
        content_type:
          type: string
          description: MIME type of the file
        status:
          type: string
          enum:
            - extracting
            - embedding
            - ready
            - failed
          description: Current processing status
        folder_id:
          type: string
          nullable: true
          format: uuid
          description: Folder the file is stored in, or null
        created_at:
          type: string
          description: ISO 8601 creation timestamp
      required:
        - id
        - name
        - size
        - content_type
        - status
        - folder_id
        - created_at
    ProjectFolderListResponse:
      type: object
      properties:
        folders:
          type: array
          items:
            $ref: '#/components/schemas/ProjectFolder'
        pagination:
          $ref: '#/components/schemas/Pagination'
      required:
        - folders
        - pagination
    ProjectFolder:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique folder identifier
        name:
          type: string
          description: Folder name
        description:
          type: string
          nullable: true
          description: Folder description, or null if unset
        folder_type:
          type: string
          description: Folder type (custom, my-files, etc.)
      required:
        - id
        - name
        - description
        - folder_type
    AttachFolderRequest:
      type: object
      properties:
        folder_id:
          type: string
          format: uuid
          description: ID of the folder to attach. All files in the folder become available as project context.
      required:
        - folder_id
    ProjectChatListResponse:
      type: object
      properties:
        chats:
          type: array
          items:
            $ref: '#/components/schemas/ProjectChat'
        pagination:
          $ref: '#/components/schemas/Pagination'
      required:
        - chats
        - pagination
    ProjectChat:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique chat identifier
        title:
          type: string
          nullable: true
          description: Chat title, or null if untitled
        summary:
          type: string
          nullable: true
          description: AI-generated summary of the chat, if any
        created_at:
          type: string
          description: ISO 8601 creation timestamp
        updated_at:
          type: string
          description: ISO 8601 last-update timestamp
      required:
        - id
        - title
        - summary
        - created_at
        - updated_at
    PlaybookListResponse:
      type: object
      properties:
        playbooks:
          type: array
          items:
            $ref: '#/components/schemas/PlaybookSummary'
        pagination:
          $ref: '#/components/schemas/Pagination'
      required:
        - playbooks
        - pagination
    PlaybookSummary:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique playbook identifier
        title:
          type: string
          description: Playbook title
        description:
          type: string
          nullable: true
          description: Playbook description, or null if unset
        is_official:
          type: boolean
          description: Whether this is an official GC AI playbook
        status:
          type: string
          enum:
            - draft
            - processing
            - completed
            - failed
          description: Playbook processing status
        created_at:
          type: string
          nullable: true
          description: ISO 8601 creation timestamp
      required:
        - id
        - title
        - description
        - is_official
        - status
        - created_at
    Playbook:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique playbook identifier
        title:
          type: string
          description: Playbook title
        description:
          type: string
          nullable: true
          description: Playbook description, or null if unset
        guide:
          type: string
          nullable: true
          description: Free-text guidance applied across the whole playbook when it runs, or null if unset.
        is_official:
          type: boolean
          description: Whether this is an official GC AI playbook
        status:
          type: string
          enum:
            - draft
            - processing
            - completed
            - failed
          description: Playbook processing status
        created_at:
          type: string
          nullable: true
          description: ISO 8601 creation timestamp
        updated_at:
          type: string
          nullable: true
          description: ISO 8601 last-update timestamp
      required:
        - id
        - title
        - description
        - guide
        - is_official
        - status
        - created_at
        - updated_at
    CreatePlaybookRequest:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          description: Playbook title (required, non-empty).
          example: Vendor NDA review
        description:
          type: string
          nullable: true
          description: Optional human-facing description.
        guide:
          type: string
          nullable: true
          description: Optional free-text guidance applied across the whole playbook when it runs.
      required:
        - title
    UpdatePlaybookRequest:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          description: New title (non-empty).
        description:
          type: string
          nullable: true
          description: New description, or null to clear.
        guide:
          type: string
          nullable: true
          description: New guide text, or null to clear.
    DeletePlaybookResponse:
      type: object
      properties:
        deleted:
          type: boolean
          description: Always `true` on success
      required:
        - deleted
    RunPlaybookResponse:
      type: object
      properties:
        job_id:
          type: string
          format: uuid
          description: Async job identifier
        kind:
          type: string
          enum:
            - playbooks/run
          description: Stable job kind for this endpoint
        status:
          type: string
          enum:
            - pending
            - running
            - succeeded
            - failed
            - canceled
          description: Current job status
        result:
          $ref: '#/components/schemas/RunPlaybookResult'
        error:
          type: object
          nullable: true
          properties:
            code:
              type: string
            message:
              type: string
          required:
            - code
            - message
          description: Failure payload when the job has failed
        created_at:
          type: string
          description: ISO 8601 creation timestamp
        completed_at:
          type: string
          nullable: true
          description: ISO 8601 completion timestamp, or null when not terminal
      required:
        - job_id
        - kind
        - status
        - result
        - error
        - created_at
        - completed_at
    RunPlaybookResult:
      type: object
      nullable: true
      properties:
        playbookTitle:
          type: string
        totalChecks:
          type: number
        results:
          type: array
          items:
            $ref: '#/components/schemas/PlaybookCheckResult'
        summary:
          type: object
          properties:
            flags:
              type: number
            fallbacks:
              type: number
            passes:
              type: number
            errors:
              type: number
          required:
            - flags
            - fallbacks
            - passes
            - errors
        documents:
          type: array
          items:
            $ref: '#/components/schemas/ApiDocument'
          description: Redlined documents produced from the review's suggested revisions, applied as tracked changes. Present only when a single DOCX file was reviewed under a user-scoped key and at least one revision applied. The original file is preserved; each entry exposes a new `file_id` and a signed download URL.
      required:
        - playbookTitle
        - totalChecks
        - results
        - summary
      description: Playbook review payload when the job has succeeded
    PlaybookCheckResult:
      type: object
      properties:
        checkId:
          type: string
          format: uuid
        checkTitle:
          type: string
        evaluationResult:
          type: string
          description: Evaluation outcome. One of `Pass`, `Flag`, `Fallback`, or `Error`.
        documentPosition:
          type: number
          nullable: true
          description: Position in the document where the matched language was found, or null if not anchored.
      required:
        - checkId
        - checkTitle
        - evaluationResult
        - documentPosition
      additionalProperties:
        nullable: true
      description: Per-check evaluation result. Additional fields (e.g. `analysis`, `revisions`) may appear depending on the check type.
    RunPlaybookRequest:
      type: object
      properties:
        file_ids:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
          description: IDs of uploaded files to review. Files must be in `ready` status. At least one file is required.
        review_mode:
          type: string
          enum:
            - first-party
            - third-party
          default: third-party
          description: Whose perspective the review takes. `third-party` reviews a counterparty document (default); `first-party` reviews your own.
        representing_party:
          type: string
          default: our company
          description: 'Name of the party the review represents (default: "our company").'
        check_ids:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
          description: Optional subset of check IDs to evaluate. Omit to run every check in the playbook.
      required:
        - file_ids
    CallerIdentityResponse:
      type: object
      properties:
        token_type:
          type: string
          enum:
            - user
            - organization
          description: Scope of the API key making the request. `user` for personal keys (`u:gcai_...`), `organization` for org keys (`gcai_...`).
        api_key_id:
          type: string
          description: Identifier of the API key used to authenticate the request
        organization:
          $ref: '#/components/schemas/CallerOrganization'
        user:
          type: object
          nullable: true
          properties:
            id:
              type: integer
              description: Calling user identifier
            email:
              type: string
              nullable: true
              description: Calling user email, or null if unset
          required:
            - id
            - email
          description: The authenticated user, or null for org-scoped keys (which carry no user identity).
      required:
        - token_type
        - api_key_id
        - organization
        - user
    CallerOrganization:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Organization the key belongs to
        name:
          type: string
          nullable: true
          description: Organization display name, or null if unset
      required:
        - id
        - name
    PersonalProfileResponse:
      type: object
      properties:
        preferred_name:
          type: string
          nullable: true
          description: Preferred name to use in chats, or null if unset
        use_name_in_chats:
          type: boolean
          description: Whether the AI should address the user by name
        role_title:
          type: string
          nullable: true
          description: Job title or role (e.g. "General Counsel"), or null
        jurisdiction_focus:
          type: string
          nullable: true
          description: Primary jurisdiction the user practices in, or null
        practice_areas:
          type: array
          items:
            type: string
          description: Practice areas the user focuses on (may be empty)
        custom_instructions:
          type: string
          nullable: true
          description: Custom instructions injected into every chat, or null
        privilege_marking_enabled:
          type: boolean
          description: Whether AI responses include an attorney-client privilege disclaimer
        privilege_marking_text:
          type: string
          nullable: true
          description: The privilege disclaimer text, or null if unset
        enter_to_submit:
          type: boolean
          description: Whether the chat composer submits on Enter instead of Cmd/Ctrl+Enter
        document_author_name:
          type: string
          nullable: true
          description: Name stamped on tracked changes when AI edits are applied, or null
        enabled:
          type: boolean
          description: Whether the personal profile is active and applied to chats
        created_at:
          type: string
          nullable: true
          description: ISO 8601 creation timestamp, or null if never saved
        updated_at:
          type: string
          nullable: true
          description: ISO 8601 last-update timestamp, or null if never saved
      required:
        - preferred_name
        - use_name_in_chats
        - role_title
        - jurisdiction_focus
        - practice_areas
        - custom_instructions
        - privilege_marking_enabled
        - privilege_marking_text
        - enter_to_submit
        - document_author_name
        - enabled
        - created_at
        - updated_at
    UpdatePersonalProfileRequest:
      type: object
      properties:
        preferred_name:
          type: string
          nullable: true
          maxLength: 100
          description: Preferred name to use in chats. Send null to clear.
        use_name_in_chats:
          type: boolean
          description: Whether the AI should address the user by name
        role_title:
          type: string
          nullable: true
          maxLength: 200
          description: Job title or role. Send null to clear.
        jurisdiction_focus:
          type: string
          nullable: true
          maxLength: 255
          description: Primary jurisdiction. Send null to clear.
        practice_areas:
          type: array
          nullable: true
          items:
            type: string
            maxLength: 100
          maxItems: 20
          description: Practice areas (max 20). Send null or [] to clear.
        custom_instructions:
          type: string
          nullable: true
          maxLength: 4000
          description: Custom instructions for every chat. Send null to clear.
        privilege_marking_enabled:
          type: boolean
          description: Whether AI responses include an attorney-client privilege disclaimer
        privilege_marking_text:
          type: string
          nullable: true
          maxLength: 200
          description: Privilege disclaimer text. Send null to clear.
        enter_to_submit:
          type: boolean
          description: Whether the chat composer submits on Enter instead of Cmd/Ctrl+Enter
        document_author_name:
          type: string
          nullable: true
          maxLength: 100
          description: Name stamped on AI tracked changes. Send null to clear.
        enabled:
          type: boolean
          description: Whether the personal profile is active
    CompanyProfileResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique company profile identifier
        name:
          type: string
          description: Company name
        dba_name:
          type: string
          nullable: true
          description: Doing-business-as name, or null
        industry:
          type: string
          nullable: true
          description: Industry sector, or null
        size:
          type: string
          nullable: true
          description: Company size band (e.g. "51-200"), or null
        location:
          type: string
          nullable: true
          description: Primary office location, or null
        incorporation_country:
          type: string
          nullable: true
          description: Country of incorporation, or null
        incorporation_state:
          type: string
          nullable: true
          description: State/province of incorporation, or null
        description:
          type: string
          nullable: true
          description: Short company description, or null
        revenue:
          type: string
          nullable: true
          description: Annual revenue band, or null
        legal_matters:
          type: string
          nullable: true
          description: Typical legal matters the company handles, or null
        regulations:
          type: string
          nullable: true
          description: Key regulations the company must comply with, or null
        risk_tolerance:
          type: string
          nullable: true
          description: Risk tolerance level (e.g. "Low"), or null
        additional_info:
          type: string
          nullable: true
          description: Free-form additional context for the AI, or null
        customer_types:
          type: array
          nullable: true
          items:
            type: string
          description: Types of customers the company serves, or null
        created_at:
          type: string
          nullable: true
          description: ISO 8601 creation timestamp
        updated_at:
          type: string
          nullable: true
          description: ISO 8601 last-update timestamp
      required:
        - id
        - name
        - dba_name
        - industry
        - size
        - location
        - incorporation_country
        - incorporation_state
        - description
        - revenue
        - legal_matters
        - regulations
        - risk_tolerance
        - additional_info
        - customer_types
        - created_at
        - updated_at
    UpdateCompanyProfileRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          description: Company name (cannot be cleared)
        dba_name:
          type: string
          nullable: true
          description: Doing-business-as name. Send null to clear.
        industry:
          type: string
          nullable: true
          description: Industry sector. Send null to clear.
        size:
          type: string
          nullable: true
          description: Company size band. Send null to clear.
        location:
          type: string
          nullable: true
          description: Primary office location. Send null to clear.
        incorporation_country:
          type: string
          nullable: true
          description: Country of incorporation. Send null to clear.
        incorporation_state:
          type: string
          nullable: true
          description: State/province of incorporation. Send null to clear.
        description:
          type: string
          nullable: true
          description: Short company description. Send null to clear.
        revenue:
          type: string
          nullable: true
          description: Annual revenue band. Send null to clear.
        legal_matters:
          type: string
          nullable: true
          description: Typical legal matters. Send null to clear.
        regulations:
          type: string
          nullable: true
          description: Key regulations. Send null to clear.
        risk_tolerance:
          type: string
          nullable: true
          description: Risk tolerance level. Send null to clear.
        additional_info:
          type: string
          nullable: true
          description: Free-form additional context. Send null to clear.
        customer_types:
          type: array
          nullable: true
          items:
            type: string
          description: Types of customers served. Send null or [] to clear.
    SkillListResponse:
      type: object
      properties:
        skills:
          type: array
          items:
            $ref: '#/components/schemas/Skill'
        pagination:
          $ref: '#/components/schemas/Pagination'
      required:
        - skills
        - pagination
    Skill:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique skill identifier
        name:
          type: string
          description: Skill name
        description:
          type: string
          nullable: true
          description: Short description of what the skill does, or null if unset
        content:
          type: string
          description: The skill instructions — the prompt text the model receives when the skill runs
        visibility:
          type: string
          enum:
            - private
            - organization
          description: '`private` (only the creator and users it has been explicitly shared with) or `organization` (visible to everyone in the org). Official skills report `organization`.'
        is_official:
          type: boolean
          description: Whether this is an official GC AI skill. Official skills are read-only and cannot be edited or deleted via the API.
        files:
          type: array
          items:
            $ref: '#/components/schemas/SkillFile'
          description: Files attached to the skill as reference context
        created_at:
          type: string
          nullable: true
          description: ISO 8601 creation timestamp
        updated_at:
          type: string
          nullable: true
          description: ISO 8601 last-updated timestamp
      required:
        - id
        - name
        - description
        - content
        - visibility
        - is_official
        - files
        - created_at
        - updated_at
    SkillFile:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Attached file identifier
        name:
          type: string
          description: Attached file name
      required:
        - id
        - name
    CreateSkillRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
          description: Skill name (required, 1-255 chars)
          example: NDA Risk Reviewer
        content:
          type: string
          minLength: 1
          maxLength: 100000
          description: The skill instructions — the prompt text the model receives when the skill runs (required, 1-100000 chars)
          example: Review the attached NDA and flag any clauses that deviate from our standard positions.
        description:
          type: string
          nullable: true
          maxLength: 1000
          description: Optional short description of what the skill does (max 1000 chars)
        visibility:
          type: string
          enum:
            - private
            - organization
          description: Skill visibility. Defaults to `private` for user-scoped keys. Org-scoped keys always create `organization`-visible skills (they have no owning user).
        file_ids:
          type: array
          items:
            type: string
            format: uuid
          maxItems: 50
          description: Optional uploaded file IDs to attach as reference context (max 50). Upload files first via `POST /files`.
      required:
        - name
        - content
    UpdateSkillRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
          description: Updated skill name (1-255 chars)
        content:
          type: string
          minLength: 1
          maxLength: 100000
          description: Updated skill instructions (1-100000 chars)
        description:
          type: string
          nullable: true
          maxLength: 1000
          description: Updated description (max 1000 chars). Pass `null` or an empty string to clear it.
        file_ids:
          type: array
          items:
            type: string
            format: uuid
          maxItems: 50
          description: Replacement set of attached file IDs (max 50). When provided, the skill's attachments are reconciled to exactly this list. Omit to leave attachments unchanged.
    DeleteSkillResponse:
      type: object
      properties:
        deleted:
          type: boolean
          description: Always `true` on success
      required:
        - deleted
    PlaybookCheckListResponse:
      type: object
      properties:
        checks:
          type: array
          items:
            $ref: '#/components/schemas/PlaybookCheck'
      required:
        - checks
    PlaybookCheck:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique check identifier
        title:
          type: string
          description: Check title
        description:
          type: string
          nullable: true
          description: Optional internal description, or null if unset
        importance:
          type: string
          nullable: true
          enum:
            - low
            - medium
            - high
            - null
          description: Priority of this check within the playbook, or null if unset
        positions:
          type: array
          items:
            $ref: '#/components/schemas/PlaybookCheckPosition'
          description: "The check's positions: one standard stance plus any fallbacks."
        created_at:
          type: string
          nullable: true
          description: ISO 8601 creation timestamp
        updated_at:
          type: string
          nullable: true
          description: ISO 8601 last-update timestamp
      required:
        - id
        - title
        - description
        - importance
        - positions
        - created_at
        - updated_at
    PlaybookCheckPosition:
      type: object
      properties:
        type:
          type: string
          enum:
            - standard
            - fallback
          description: The primary stance (`standard`) or an alternative fallback the reviewer may accept (`fallback`). Each check has exactly one standard position.
        guidance:
          type: string
          nullable: true
          description: The review stance for this position — what to require, accept, or flag. May be null for positions authored in the web app without guidance.
      required:
        - type
        - guidance
    CreatePlaybookCheckRequest:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          description: Check title (required, non-empty).
          example: Limitation of liability
        description:
          type: string
          nullable: true
          description: Optional internal description.
        importance:
          type: string
          nullable: true
          enum:
            - low
            - medium
            - high
            - null
          description: Optional priority within the playbook.
        positions:
          type: array
          items:
            $ref: '#/components/schemas/PlaybookCheckPositionInput'
          minItems: 1
          description: "The check's positions: exactly one `standard` position plus any number of `fallback` positions."
      required:
        - title
        - positions
    PlaybookCheckPositionInput:
      type: object
      properties:
        type:
          type: string
          enum:
            - standard
            - fallback
          description: Use `standard` for the primary stance and `fallback` for an alternative the reviewer may accept.
        guidance:
          type: string
          minLength: 1
          description: The review stance for this position — what to require, accept, or flag.
          example: Require a mutual liability cap at 12 months of fees.
      required:
        - type
        - guidance
    UpdatePlaybookCheckRequest:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          description: New title (non-empty).
        description:
          type: string
          nullable: true
          description: New description, or null to clear.
        importance:
          type: string
          nullable: true
          enum:
            - low
            - medium
            - high
            - null
          description: New priority, or null to clear.
        positions:
          type: array
          items:
            $ref: '#/components/schemas/PlaybookCheckPositionInput'
          minItems: 1
          description: Replacement set of positions (full desired state). Omit to leave positions unchanged.
    DeletePlaybookCheckResponse:
      type: object
      properties:
        deleted:
          type: boolean
          description: Always `true` on success
      required:
        - deleted
    ReorderPlaybookChecksResponse:
      type: object
      properties:
        reordered:
          type: boolean
          description: Always `true` on success
      required:
        - reordered
    ReorderPlaybookChecksRequest:
      type: object
      properties:
        check_ids:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
          description: All check IDs of the playbook in the desired order. Checks omitted from the list keep their existing order relative to one another.
      required:
        - check_ids
    PingResponse:
      type: object
      properties:
        status:
          type: string
          enum:
            - pong
          description: Always `pong`
        timestamp:
          type: string
          description: ISO 8601 server timestamp
      required:
        - status
        - timestamp
    CreditUsageResponse:
      type: object
      properties:
        start_date:
          type: string
          description: Inclusive range start.
        end_date:
          type: string
          description: Inclusive range end.
        timezone:
          type: string
          description: IANA timezone used for day boundaries.
        pricing_available:
          type: boolean
          description: Whether rate-card pricing could be resolved for every observed operation. When false, all credit fields are null and only raw request counts are returned.
        total_credits:
          type: number
          nullable: true
          description: Total credits across all operations over the range. Null when pricing is unavailable.
        lines:
          type: array
          items:
            $ref: '#/components/schemas/CreditUsageLine'
          description: Per-operation usage and credit totals over the range.
        daily:
          type: array
          items:
            $ref: '#/components/schemas/CreditUsageDay'
          description: Daily usage buckets across the full range (days with no usage have an empty `usage` object).
      required:
        - start_date
        - end_date
        - timezone
        - pricing_available
        - total_credits
        - lines
        - daily
    CreditUsageLine:
      type: object
      properties:
        api:
          type: string
          description: The billable operation, e.g. `chat:completions` or `playbook:run`.
          example: chat:completions
        requests:
          type: number
          description: Total billable units consumed for this line over the range.
        unit:
          type: string
          nullable: true
          description: Display label for one billable unit (e.g. `request`). Null when pricing is unavailable.
        credits_per_unit:
          type: number
          nullable: true
          description: Credits charged per unit, from the current rate card. Null when pricing is unavailable.
        credits:
          type: number
          nullable: true
          description: Total credits for this line (`requests × credits_per_unit`). Null when pricing is unavailable.
      required:
        - api
        - requests
        - unit
        - credits_per_unit
        - credits
    CreditUsageDay:
      type: object
      properties:
        date:
          type: string
          description: Calendar day (`YYYY-MM-DD`) in the requested timezone.
          example: 2026-06-01
        usage:
          type: object
          additionalProperties:
            type: number
          description: Billable units consumed that day, keyed by billable operation. Operations with no usage are omitted.
      required:
        - date
        - usage
    UsageSummaryResponse:
      type: object
      properties:
        start_date:
          type: string
          description: Inclusive range start.
        end_date:
          type: string
          description: Inclusive range end.
        timezone:
          type: string
          description: IANA timezone used for day boundaries.
        web:
          $ref: '#/components/schemas/WebUsage'
        word:
          $ref: '#/components/schemas/WordUsage'
        api:
          $ref: '#/components/schemas/ApiUsage'
      required:
        - start_date
        - end_date
        - timezone
        - web
        - word
        - api
    WebUsage:
      type: object
      properties:
        messages:
          type: number
          description: Web-app chat messages sent.
        web_pages_scraped:
          type: number
          description: Web pages read by GC AI to compose answers.
        files_uploaded:
          type: number
          description: Files uploaded.
      required:
        - messages
        - web_pages_scraped
        - files_uploaded
      description: Web-app activity.
    WordUsage:
      type: object
      properties:
        messages:
          type: number
          description: Word add-in messages sent.
        redlines_applied:
          type: number
          description: Redlines applied from the Word add-in.
        drafts_applied:
          type: number
          description: Drafts applied from the Word add-in.
      required:
        - messages
        - redlines_applied
        - drafts_applied
      description: Word add-in activity.
    ApiUsage:
      type: object
      properties:
        requests:
          type: number
          description: Total billable API requests across all operations.
        by_operation:
          type: object
          additionalProperties:
            type: number
          description: Billable API requests keyed by operation (e.g. `chat:completions`, `playbook:run`).
      required:
        - requests
        - by_operation
      description: API activity.
  parameters: {}
paths:
  /chat/completions:
    post:
      summary: Create chat completion
      description: |-
        Send a message to GC AI and receive an AI-generated response.

        <Note>
        This endpoint is asynchronous: it returns a job envelope, and the result is filled in once the job completes. See [Asynchronous Requests](/api-reference/concepts/async-jobs) for how waiting, polling, and the envelope work.
        </Note>

        ## Multi-turn conversations

        Every response includes a `chat_id`. Pass it back as `chat_id` on a later request to continue that conversation. Conversation state — prior messages, tool calls, and any returned documents, emails, or diagrams — is held server-side, so each turn sends only the new `message` (plus any new `file_ids`); never re-send prior turns or previously returned outputs.

        Only one turn may be in flight per chat at a time: a request whose `chat_id` already has a turn running is rejected with `409`. Wait for the prior turn to reach a terminal state before sending the next.

        Continuing a chat is scoped like [materialization](/api-reference/concepts/chat-visibility): personal keys continue chats they created; organization keys continue organization chats. See [Multi-turn Conversations](/api-reference/concepts/multi-turn).

        ## Server-side tools

        The model can invoke tools automatically while generating a response. Tool calls happen server-side. Only the final assistant text is returned in `result.result`.

        | Tool | Description | Key type |
        |---|---|---|
        | Document reading | Read, query, and search within attached files | All |
        | Web search | Search the web for current information | All |
        | Research agent | Multi-step web research with synthesis | All |
        | Case-law lookup | Search case law databases | User-scoped only |
        | Playbook review | Run playbook checks against attached files (requires `playbook_ids`) | All |
        | Document editing | Apply redline edits to an attached DOCX. All proposed revisions are auto-accepted; the edited file is returned via `result.documents`. The original file is preserved. | User-scoped only |
        | Document generation | Generate a new DOCX from a prompt. The generated file is returned via `result.documents`. | User-scoped only |
        | Slide generation | Generate a new PowerPoint deck (PPTX) from a prompt. The generated file is returned via `result.documents`. | User-scoped only |
        | Email drafting | Draft a structured email from a prompt. The draft is returned via `result.emails` (`to`, `subject`, `body`, …). | All |
        | Diagrams | Generate a diagram from a prompt. The diagram is returned via `result.diagrams` as validated Mermaid source (`mermaid`) you can render with any Mermaid-compatible renderer. | All |

        The following tools are **not available** via API in beta (the response is plain text with no channel for rich outputs):

        | Tool | Reason unavailable |
        |---|---|
        | Interactive clarification | Requires a back-and-forth channel with the caller |

        <Note>
        This is an inference endpoint and is [rate limited](/api-reference/concepts/rate-limits): during the free beta, roughly 1 request/minute per organization (burst of 3). Exceeding the limit returns `429` with a `Retry-After` header.
        </Note>
      operationId: createChatCompletion
      tags:
        - Chat
      security:
        - ApiKeyAuth: []
      parameters:
        - schema:
            type: integer
            nullable: true
            minimum: 0
            description: 'Optional long-poll wait time in seconds. Use `0` for fire-and-forget behavior. If both `wait` and `Prefer: wait=...` are supplied, they must match. Values above 90 are clamped.'
            example: 0
          required: false
          description: 'Optional long-poll wait time in seconds. Use `0` for fire-and-forget behavior. If both `wait` and `Prefer: wait=...` are supplied, they must match. Values above 90 are clamped.'
          name: wait
          in: query
        - schema:
            type: string
            description: Optional RFC 7240 wait preference, for example `wait=0`. If both this header and the `wait` query parameter are supplied, they must match.
            example: wait=0
          required: false
          description: Optional RFC 7240 wait preference, for example `wait=0`. If both this header and the `wait` query parameter are supplied, they must match.
          name: Prefer
          in: header
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
      responses:
        '200':
          description: Job completed within the effective wait window
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
        '202':
          description: Job accepted but not yet complete, including fire-and-forget requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
        '400':
          description: Invalid request body or invalid/conflicting wait controls
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or malformed API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Invalid API key or playbook review not enabled for this account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: One or more `file_ids`, one or more `playbook_ids`, or the `chat_id` were not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: The `chat_id` refers to a non-API chat, or a turn is already in progress for that chat
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded. See [Rate Limits](/api-reference/concepts/rate-limits) for the tiers, limits, and how to back off.
          headers:
            Retry-After:
              schema:
                type: string
                description: Seconds to wait before retrying after a rate-limit block.
                example: '60'
              required: true
              description: Seconds to wait before retrying after a rate-limit block.
            RateLimit-Limit:
              schema:
                type: string
                description: Request quota for the applicable window.
                example: '3'
              required: true
              description: Request quota for the applicable window.
            RateLimit-Remaining:
              schema:
                type: string
                description: Requests remaining in the current window.
                example: '0'
              required: true
              description: Requests remaining in the current window.
            RateLimit-Reset:
              schema:
                type: string
                description: Seconds until the quota resets.
                example: '60'
              required: true
              description: Seconds until the quota resets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Service temporarily unavailable
          headers:
            Retry-After:
              schema:
                type: string
                description: Seconds to wait before retrying after a transient service outage.
                example: '5'
              required: true
              description: Seconds to wait before retrying after a transient service outage.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jobs/{id}:
    get:
      summary: Get async job status
      description: |-
        Poll an async API job created by endpoints like `POST /chat/completions`.

        Use the `job_id` returned by a `202 Accepted` response to check whether the job is still pending or has reached a terminal state.
      operationId: getAsyncJob
      tags:
        - Chat
      security:
        - ApiKeyAuth: []
      parameters:
        - schema:
            type: string
            format: uuid
            description: The async job ID
          required: true
          description: The async job ID
          name: id
          in: path
        - schema:
            type: integer
            nullable: true
            minimum: 0
            description: 'Optional long-poll wait time in seconds. Use `0` for fire-and-forget behavior. If both `wait` and `Prefer: wait=...` are supplied, they must match. Values above 90 are clamped.'
            example: 0
          required: false
          description: 'Optional long-poll wait time in seconds. Use `0` for fire-and-forget behavior. If both `wait` and `Prefer: wait=...` are supplied, they must match. Values above 90 are clamped.'
          name: wait
          in: query
        - schema:
            type: string
            description: Optional RFC 7240 wait preference, for example `wait=0`. If both this header and the `wait` query parameter are supplied, they must match.
            example: wait=0
          required: false
          description: Optional RFC 7240 wait preference, for example `wait=0`. If both this header and the `wait` query parameter are supplied, they must match.
          name: Prefer
          in: header
      responses:
        '200':
          description: Job found and currently in a terminal state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
        '202':
          description: Job found but not yet complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
        '400':
          description: Invalid job ID, wait value, or conflicting wait controls
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or malformed API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded. See [Rate Limits](/api-reference/concepts/rate-limits) for the tiers, limits, and how to back off.
          headers:
            Retry-After:
              schema:
                type: string
                description: Seconds to wait before retrying after a rate-limit block.
                example: '60'
              required: true
              description: Seconds to wait before retrying after a rate-limit block.
            RateLimit-Limit:
              schema:
                type: string
                description: Request quota for the applicable window.
                example: '3'
              required: true
              description: Request quota for the applicable window.
            RateLimit-Remaining:
              schema:
                type: string
                description: Requests remaining in the current window.
                example: '0'
              required: true
              description: Requests remaining in the current window.
            RateLimit-Reset:
              schema:
                type: string
                description: Seconds until the quota resets.
                example: '60'
              required: true
              description: Seconds until the quota resets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Service temporarily unavailable
          headers:
            Retry-After:
              schema:
                type: string
                description: Seconds to wait before retrying after a transient service outage.
                example: '5'
              required: true
              description: Seconds to wait before retrying after a transient service outage.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /chat/{id}/materialize:
    post:
      summary: Materialize an API chat
      description: |-
        Surface an API-created chat into chat history and return a shareable deep link.

        Chats created through `POST /chat/completions` stay out of chat history (both the GC AI web app and [chat search](/api-reference/search-chats)) until you materialize them. Use the `chat_id` from a completed completion response. The endpoint is idempotent. Calling it again on an already-materialized chat returns the same link without side effects.

        **Authorization:** User-scoped keys can only materialize chats they created. Organization-scoped keys can only materialize chats created by other organization-scoped keys.

        See [Chat Visibility](/api-reference/concepts/chat-visibility) for how this works.
      operationId: materializeChat
      tags:
        - Chat
      security:
        - ApiKeyAuth: []
      parameters:
        - schema:
            type: string
            format: uuid
            description: The chat ID
          required: true
          description: The chat ID
          name: id
          in: path
      responses:
        '200':
          description: Chat materialized (or already materialized)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaterializeChatResponse'
        '400':
          description: Invalid chat ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or malformed API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Token cannot materialize this chat (wrong ownership scope)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Chat not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Chat is not an API-created chat
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded. See [Rate Limits](/api-reference/concepts/rate-limits) for the tiers, limits, and how to back off.
          headers:
            Retry-After:
              schema:
                type: string
                description: Seconds to wait before retrying after a rate-limit block.
                example: '60'
              required: true
              description: Seconds to wait before retrying after a rate-limit block.
            RateLimit-Limit:
              schema:
                type: string
                description: Request quota for the applicable window.
                example: '3'
              required: true
              description: Request quota for the applicable window.
            RateLimit-Remaining:
              schema:
                type: string
                description: Requests remaining in the current window.
                example: '0'
              required: true
              description: Requests remaining in the current window.
            RateLimit-Reset:
              schema:
                type: string
                description: Seconds until the quota resets.
                example: '60'
              required: true
              description: Seconds until the quota resets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Service temporarily unavailable
          headers:
            Retry-After:
              schema:
                type: string
                description: Seconds to wait before retrying after a transient service outage.
                example: '5'
              required: true
              description: Seconds to wait before retrying after a transient service outage.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /chat/search:
    get:
      summary: Search chats
      description: |-
        Hybrid search across the caller's chat history that merges two lanes: a case-insensitive title-substring match and a semantic (vector) match over each chat's AI-generated summary. Title matches are returned first (a strong signal the user remembers the chat name), followed by semantic matches in relevance order, de-duplicated and capped at `limit`.

        **Authorization:** User-scoped keys (`u:gcai_...`) search the chats that user can access. Organization-scoped keys search every chat shared with the entire organization, regardless of who or what created it. Chats that remain private to an individual user are never returned to an org-scoped key.

        API-created chats appear here only once they've been [materialized](/api-reference/concepts/chat-visibility); unmaterialized chats are not in anyone's history and won't match.
      operationId: searchChats
      tags:
        - Chat
      security:
        - ApiKeyAuth: []
      parameters:
        - schema:
            type: string
            minLength: 1
            maxLength: 500
            description: Search query (required, 1-500 chars). Natural language is fine.
            example: force majeure carve-out
          required: true
          description: Search query (required, 1-500 chars). Natural language is fine.
          name: q
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
            description: Max chats to return (default 20, max 50)
          required: false
          description: Max chats to return (default 20, max 50)
          name: limit
          in: query
      responses:
        '200':
          description: Chats matching the query
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatSearchResponse'
        '400':
          description: Missing or invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or malformed API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded. See [Rate Limits](/api-reference/concepts/rate-limits) for the tiers, limits, and how to back off.
          headers:
            Retry-After:
              schema:
                type: string
                description: Seconds to wait before retrying after a rate-limit block.
                example: '60'
              required: true
              description: Seconds to wait before retrying after a rate-limit block.
            RateLimit-Limit:
              schema:
                type: string
                description: Request quota for the applicable window.
                example: '3'
              required: true
              description: Request quota for the applicable window.
            RateLimit-Remaining:
              schema:
                type: string
                description: Requests remaining in the current window.
                example: '0'
              required: true
              description: Requests remaining in the current window.
            RateLimit-Reset:
              schema:
                type: string
                description: Seconds until the quota resets.
                example: '60'
              required: true
              description: Seconds until the quota resets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Service temporarily unavailable
          headers:
            Retry-After:
              schema:
                type: string
                description: Seconds to wait before retrying after a transient service outage.
                example: '5'
              required: true
              description: Seconds to wait before retrying after a transient service outage.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /files:
    post:
      summary: Upload a file
      description: |-
        Upload a file to GC AI for processing and storage. Files are uploaded as multipart form data and automatically processed (text extraction, summarization, and embedding creation).

        With a user-scoped key, files default to the user's "My Files" folder. With an org-scoped key, files default to the "Organization Files" folder and the `my-files` scope is not available.

        For PDFs and Word documents, extraction runs asynchronously. Poll `GET /files/{id}` until `status` is `ready`.
      operationId: uploadFile
      tags:
        - Files
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FileUploadRequest'
      responses:
        '200':
          description: File uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '400':
          description: Invalid request (unsupported file type, empty content, etc.)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or malformed API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Insufficient project access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded. See [Rate Limits](/api-reference/concepts/rate-limits) for the tiers, limits, and how to back off.
          headers:
            Retry-After:
              schema:
                type: string
                description: Seconds to wait before retrying after a rate-limit block.
                example: '60'
              required: true
              description: Seconds to wait before retrying after a rate-limit block.
            RateLimit-Limit:
              schema:
                type: string
                description: Request quota for the applicable window.
                example: '3'
              required: true
              description: Request quota for the applicable window.
            RateLimit-Remaining:
              schema:
                type: string
                description: Requests remaining in the current window.
                example: '0'
              required: true
              description: Requests remaining in the current window.
            RateLimit-Reset:
              schema:
                type: string
                description: Seconds until the quota resets.
                example: '60'
              required: true
              description: Seconds until the quota resets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Service temporarily unavailable
          headers:
            Retry-After:
              schema:
                type: string
                description: Seconds to wait before retrying after a transient service outage.
                example: '5'
              required: true
              description: Seconds to wait before retrying after a transient service outage.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: Search files
      description: |-
        Hybrid (vector + keyword) search across accessible files. Results are ranked by relevance and capped at 100.

        User-scoped keys search all files the user can read. Org-scoped keys search all non-access-controlled files in the organization.

        Pass `scope` (user-scoped keys only) to constrain the search to one of the three top-level meta-collections shown in the GC AI UI:
        - `my-files`: files in the user's personal "My Files" tree
        - `shared-with-me`: files explicitly shared with the user (and files inside shared folders)
        - `organization`: files in the organization's "Organization Files" tree
      operationId: searchFiles
      tags:
        - Files
      security:
        - ApiKeyAuth: []
      parameters:
        - schema:
            type: string
            minLength: 1
            description: Search query (required)
            example: force majeure
          required: true
          description: Search query (required)
          name: q
          in: query
        - schema:
            type: string
            enum:
              - my-files
              - shared-with-me
              - organization
            description: Optional scope filter. When omitted, searches all files the user can read.
            example: my-files
          required: false
          description: Optional scope filter. When omitted, searches all files the user can read.
          name: scope
          in: query
      responses:
        '200':
          description: Files matching the query, ranked by relevance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileSearchResponse'
        '400':
          description: Missing or invalid query parameters, or scope used with an org-scoped key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or malformed API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded. See [Rate Limits](/api-reference/concepts/rate-limits) for the tiers, limits, and how to back off.
          headers:
            Retry-After:
              schema:
                type: string
                description: Seconds to wait before retrying after a rate-limit block.
                example: '60'
              required: true
              description: Seconds to wait before retrying after a rate-limit block.
            RateLimit-Limit:
              schema:
                type: string
                description: Request quota for the applicable window.
                example: '3'
              required: true
              description: Request quota for the applicable window.
            RateLimit-Remaining:
              schema:
                type: string
                description: Requests remaining in the current window.
                example: '0'
              required: true
              description: Requests remaining in the current window.
            RateLimit-Reset:
              schema:
                type: string
                description: Seconds until the quota resets.
                example: '60'
              required: true
              description: Seconds until the quota resets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Service temporarily unavailable
          headers:
            Retry-After:
              schema:
                type: string
                description: Seconds to wait before retrying after a transient service outage.
                example: '5'
              required: true
              description: Seconds to wait before retrying after a transient service outage.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /files/{id}:
    get:
      summary: Get file status
      description: Retrieve the current status and metadata of an uploaded file. Use this to poll for extraction completion after uploading a file.
      operationId: getFileStatus
      tags:
        - Files
      security:
        - ApiKeyAuth: []
      parameters:
        - schema:
            type: string
            format: uuid
            description: The file ID
          required: true
          description: The file ID
          name: id
          in: path
      responses:
        '200':
          description: File metadata and status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: Missing or malformed API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: File not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded. See [Rate Limits](/api-reference/concepts/rate-limits) for the tiers, limits, and how to back off.
          headers:
            Retry-After:
              schema:
                type: string
                description: Seconds to wait before retrying after a rate-limit block.
                example: '60'
              required: true
              description: Seconds to wait before retrying after a rate-limit block.
            RateLimit-Limit:
              schema:
                type: string
                description: Request quota for the applicable window.
                example: '3'
              required: true
              description: Request quota for the applicable window.
            RateLimit-Remaining:
              schema:
                type: string
                description: Requests remaining in the current window.
                example: '0'
              required: true
              description: Requests remaining in the current window.
            RateLimit-Reset:
              schema:
                type: string
                description: Seconds until the quota resets.
                example: '60'
              required: true
              description: Seconds until the quota resets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Service temporarily unavailable
          headers:
            Retry-After:
              schema:
                type: string
                description: Seconds to wait before retrying after a transient service outage.
                example: '5'
              required: true
              description: Seconds to wait before retrying after a transient service outage.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      summary: Move a file
      description: Move a file to a different folder by updating its `folder_id`. Org-scoped keys can move non-access-controlled files to non-access-controlled destination folders.
      operationId: updateFile
      tags:
        - Files
      security:
        - ApiKeyAuth: []
      parameters:
        - schema:
            type: string
            format: uuid
[...]
